[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

hr {
    color: #D6E9C6;
    background-color: #D6E9C6;
    height: 1px;
}
.testa{
    margin-top:60px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #D6E9C6;
}

.testa-menor{
    margin-top:20px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 1px solid #D6E9C6;
}

.space-top{
    margin-top:40px;
}

.caixa{
    padding: 15px 20px;
    width: 353px;
    display: block;
    border: 1px solid #D6E9C6;
    background: #f7f7f7;
    border-radius: 5px;
    font-size: 14px;
}

input[type='checkbox'] {
    width: 18px;
    height: 18px;
}

.chkText{
    text-align: left;
    padding-top:6px;
    padding-left: 6px;
    vertical-align: top;
}

.list{
    margin-top:60px;
}

.transparency {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin-left:30px;
}
.splash-text {
    font-weight: 600;
    background: transparent url('/img/destaque.png') center center no-repeat;
    background-size: 90px 36px;
    display: inline-block;
    padding: 5px 10px;
    margin: -5px -10px;
    color: black;
    font-variant: normal;
    font-style: normal;
}
.title-13{
    font-family: Verdana, Arial;
    font-size: 13px;
    font-weight: normal;
}
.title-15{
    font-family: Verdana, Arial;
    font-size: 15px;
    font-weight: normal;
}
.space{
    margin-left: 30px;
}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}
input[type=radio] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottombottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.radio label:before {
    border-radius: 8px;
}
.center{
    text-align: center;
}
.loading{
    text-align: center;
    margin-top:10px;
    width: 100%;
    height: 80px;
}
h1{
    font-size: 36px!important;
}
h5{
    font-size: 16px!important;
    font-weight: bold;
}
.bg{
    color: #000;
    background-color: #f5deb3;
}

.navbar-brand{
    font-family: 'Cantarell', Arial;
    font-size: 36px;
    color: #fff;
    padding: 15px;
    vertical-align:middle;
}
.small{
    font-size:11px;
}

.img-brand{
    margin-top: -10px;
    margin-right: 5px;
}
.h1-black{
    color: #000;
}

.footer{
    background-color: #3D4246;
    color: #fff;
    padding: 20px;
    position: relative;
    margin-top: 30px;
    border-radius: 10px;
}
.footer a{
    color: #fff;
}

.card-list{
    padding: 10px; border:1px solid #f7f7f7;
}

.social{
    text-align: right;
    margin-top: 100px;
    font-size: 24px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.progress.vertical {
    position: relative;
    float: left;
    background-color: #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    padding:1px;
    vertical-align: bottom;
}
