﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model BuscaSaude.Front.Model.Cidade
        }

    <div class="container space-top">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <form action="/Front/Saude/Unidades">
                        <div class="input-group">
                            <input type="text" name="pesquisa" id="pesquisa" class="form-control" aria-describedby="label" style="font-size: 20px; height: 50px; width: 100% !important">
                            <span class="input-group-addon" id="label" style="font-size: 24px;"><button type="submit" style="padding: 0; margin: 0; border: none; background-color: #eee; width: 80px;">Buscar</button></span>
                        </div>
                    </form>
                    <br />
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2>@ViewBag.Pesquisa - @Model.Unidades[0].Endereco.Cidade.Estado.UF</h2>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h4>Melhores unidades de saúde na região*</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <br/>
                                                            <div class="progress vertical" style="height: 100px">
                                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: '@Model.MelhoresUnidades[0].Score'px; width: 100%;">
                                                                    <div style="margin-top: 8px; padding: 5px; min-width: 60px; font-size: 22px;">
                                                                        1º
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <strong><a href="/Front/Saude/Unidade?pesquisa=@Model.MelhoresUnidades[0].Id">@Model.MelhoresUnidades[0].Name</a> </strong>
                                                            <br/><br/>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <br/>
                                                            <div class="progress vertical" style="height: 100px">
                                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: '@Model.MelhoresUnidades[1].Score'px; width: 100%;">
                                                                    <div style="margin-top: 8px; padding: 5px; min-width: 60px; font-size: 22px;">
                                                                        2º
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <strong><a href="/Front/Saude/Unidade?pesquisa=@Model.MelhoresUnidades[1].Id">@Model.MelhoresUnidades[1].Name</a> </strong>
                                                            <br/><br/>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <br/>
                                                            <div class="progress vertical" style="height: 100px">
                                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: '@Model.MelhoresUnidades[2].Score'px; width: 100%;">
                                                                    <div style="margin-top: 8px; padding: 5px; min-width: 60px; font-size: 22px;">
                                                                        3º
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <strong><a href="/Front/Saude/Unidade?pesquisa=@Model.MelhoresUnidades[2].Id">@Model.MelhoresUnidades[2].Name</a> </strong>
                                                            <br/><br/>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>
                                        <div class="panel-footer">
                                            <span>* Segundo avaliação de pacientes e usuários</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4>Últimos comentários de pacientes</h4>
                                        </div>
                                        <div class="panel-body" style="height: 270px; overflow: scroll; overflow-x: hidden;">
                                            @foreach (var c in Model.Comentarios)
                                            {
                                                <div style="padding: 10px;">
                                                    @if (c.NotaRecomenda > 50)
                                                    {
                                                        <img src="/img/green-hand.png"/>
                                                    }
                                                    @if (c.NotaRecomenda <= 50)
                                                    {
                                                        <img src="/img/red-hand.png"/>
                                                    }
                                                    <span style="margin-left: 20px;">@c.Comentario</span>
                                                    <p></p>

                                                    <p>
                                                        @if (!c.Anonimo)
                                                        {
                                                            <strong> @c.Nome</strong>
                                                        }
                                                        sobre <strong><a href="/Front/Saude/Unidade?pesquisa=@c.UnidadeId">@c.Unidade</a> </strong><br/>
                                                        em <strong>@c.Data</strong>
                                                    </p>

                                                    <hr/>
                                                </div>
                                            }
                                        </div>
                                        <div class="panel-footer">
                                            <span>Dica: Avalie centros médicos que você conhece para ajudar outras pessoas!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @if (Model.Unidades.Count < 1)
                                    {
                                        <div class="panel panel-warning">
                                            <div class="panel-body" style="text-align: center;">
                                                <h4>Nenhum registro encontrado</h4>
                                            </div>
                                        </div>
                                    }
                                    <span></span>
                                    @if (Model.Unidades.Count >= 1)
                                    {
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                <h3>@Model.Unidades.Count Hospitais, clínicas, postos de saúde e laboratórios em @ViewBag.Pesquisa</h3>
                                            </div>
                                            @for (int i = 0; i < Model.Unidades.Count; i++)
                                            {
                                                if (i%2 == 0)
                                                {
                                                    ViewBag.Color = "#eee";
                                                }
                                                else
                                                {
                                                    ViewBag.Color = "#fff";
                                                }
                                                <div class="card-list" style="background-color: @ViewBag.Color">


                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <a href="/Front/Saude/Unidade?pesquisa=@Model.Unidades[i].Id"><strong>@Model.Unidades[i].Name</strong></a><br/>
                                                            @Model.Unidades[i].Endereco.Logradouro<span>,</span> @Model.Unidades[i].Endereco.Numero<br/>
                                                            @Model.Unidades[i].Endereco.Cidade.Name - @Model.Unidades[i].Endereco.Cidade.Estado.UF
                                                        </div>
                                                        <div class="col-sm-4">
                                                            @if (Model.Unidades[i].Avaliacoes.Count > 0)
                                                            {
                                                                <span>
                                                                    Comentários:
                                                                    <span><b>@Model.Unidades[i].Avaliacoes.Count</b></span>
                                                                </span>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
                </div>
            </div>
</div>
