﻿<div class="jumbotron bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 h1-black">
                <h3>Consulte clínicas, consultórios, hospitais e postos de saúde gratuitamente.</h3>
            </div>
            <div class="col-sm-12">
                <form action="/Front/Saude/Unidades">
                    <div class="input-group">
                        <input type="text" name="pesquisa" id="pesquisa" class="form-control" aria-describedby="label" style="font-size: 15px; height: 30px; width: 100% !important">
                        <span class="input-group-addon" id="label" style="font-size: 12px;"><button type="submit" style="padding: 0; margin: 0; border: none; background-color: #eee; width: 35px;">Buscar</button></span>
                    </div>
                </form>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
            
                <h3>
                    Mais de <em class="splash-text"> 140.000 </em> centros médicos em todo o Brasil.<br /><br />
                    Informações, avaliações e experiências de pacientes e familiares.
                </h3>

                <p></p>
                
            </div>
            <div class="col-sm-6">
                <p></p>
                <div class="social">
                    <h4>Siga-nos</h4>
                    <a href="https://www.facebook.com/saudeadvisor" target="_blank"><img src="/img/facebook.png" alt="Facebook" title="Facebook"/></a>
                    <a href="https://twitter.com/saudeadvisor" target="_blank"><img src="/img/twitter.png" alt="Twitter" title="Twitter"/></a>
                    <a href="https://plus.google.com/+Saudeadvisor2015" rel="publisher" target="_blank"><img src="/img/plus.png" alt="Plus" title="Plus"/></a>
                    <a href="http://instagram.com/saudeadvisor/" target="_blank"><img src="/img/instagram.png" alt="Instagram" title="Instagram"/></a>
                </div>

            </div>
        </div>
    </div>
</div>