﻿<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="saude, hospital, clinica, centro medico, atendimento medico, saudeadvisor">
    <meta name="description" content="Avaliações e informações sobre centros médicos, hospitais, clínicas e laboratórios do Brasil no portal SaudeAdvisor">
    <meta name="title" content="@ViewBag.Title">
    <meta name="url" content="@HttpContext.Current.Request.Url.AbsoluteUri">
    <meta property="og:title" content="@ViewBag.Title">
    <meta name="robots" content="noindex, follow">
    <meta name="googlebot" content="noindex, follow">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link async href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
    <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link async rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/img/logo40.png" alt="SaudeAdvisor" />SaudeAdvisor</a>
                </div>

            </div>
        </nav>
    </div>
    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div class="btn-group" role="group" aria-label="">
                <a type="button" class="btn btn-default" href="/Saude/FaleConosco">Fale conosco</a>
                <a type="button" class="btn btn-default" href="/Saude/Sobre">Sobre</a>
                <a type="button" class="btn btn-default" href="/Saude/Privacidade">Privacidade</a>
            </div>
        </div>
    </footer>

</body>
</html>