﻿<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="dicas de hospitais, encontre, dicas de clinicas, dicas de laboratorios, mapa, bom atendimento, avaliacoes, opinioes, postos de saude">
    <meta name="description" content="Encontre bom atendimento, informações, avaliações e comentários sobre hospitais, clínicas, laboratórios e postos de saúde no Brasil">
    <meta name="title" content="SaudeAdvisor">
    <meta property="og:title" content="SaudeAdvisor">
    <meta name="robots" content="noindex, follow">
    <meta name="googlebot" content="noindex, follow">
    <title>SaudeAdvisor - Cadastre Hospitais, clínicas, laboratórios e receba mais pacientes</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link async href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
    <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link async rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="col-sm-12 center">
        <a href="/">
            <h1><img class="bottom" src="/img/logo60.png" alt="SaudeAdvisor" />SaudeAdvisor</h1></a>
            <br />
</div>

    @RenderBody()

</body>
</html>