﻿<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="dicas de hospitais, encontre, dicas de clinicas, dicas de laboratorios, mapa, bom atendimento, avaliacoes, opinioes, postos de saude">
    <meta name="description" content="Encontre bom atendimento, informações, avaliações e comentários sobre hospitais, clínicas, laboratórios e postos de saúde no Brasil">
    <meta name="title" content="SaudeAdvisor">
    <meta property="og:title" content="SaudeAdvisor">
    <meta name="robots" content="noindex, follow">
    <meta name="googlebot" content="noindex, follow">
    <title>SaudeAdvisor - Hospitais, clínicas, postos de saúde e laboratórios</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link async href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
    <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link async rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="container-fluid">                
                <div class="navbar-right">
                    <div>
                       @Html.Partial("Menu")
                    </div>
                </div>                                
            </div>
        </nav>
    </div>
    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div class="btn-group" role="group" aria-label="">
                <a type="button" class="btn btn-default" href="/Saude/FaleConosco">Fale conosco</a>
                <a type="button" class="btn btn-default" href="/Saude/Sobre">Sobre</a>
                <a type="button" class="btn btn-default" href="/Saude/Privacidade">Privacidade</a>
            </div>
        </div>
    </footer>

</body>
</html>