﻿<script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('RtqHJ2uKyks3gAm4idQ6lD6WxMTzNjK8', 'saudeadvisor.auth0.com');
  function signin() {
    lock.show({
        callbackURL: 'https://localhost:44363/Painel/'
      , responseType: 'code'
      , authParams: {
        scope: 'openid email'
      } 
    });
  }
</script>
<div class="collapse navbar-collapse navbar-right" id="menu">
    @if (1!=1) //!String.IsNullOrEmpty(System.Security.Claims.ClaimsPrincipal.Current.FindFirst("access_token").Value) )
    {
        <span>Usuário: @System.Security.Claims.ClaimsPrincipal.Current.FindFirst("email").Value</span>
        <a type="button" class="btn btn-info" href="/Painel/Logoff">Sair</a>
    }
    else
    {       
        <a type="button" class="btn btn-info" onclick="window.signin();" href="#">Login</a>
    }
</div>
