﻿

<!-- Inserir mais detalhes do unidade de saúde (últimas avaliações e informações)-->

<div class="panel panel-success">
    <div class="panel-heading">
        <h4>Dê sua opinião</h4>
    </div>
    <div class="panel-body">
        <div id="resultado" style="display:none">

        </div>
        <form id="avaliacao" style="display:block">
            <div class="row" style="font-size: 16px;">
                <div class="row">
                    <div class="col-sm-5">
                        <p style="padding-left: 15px;">
                            <strong>Limpeza e higiene</strong>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <p>
                            <img id="starHL1" name="avaliacao.Dados.NotaHigieneLimpeza" src="/img/blank-star.png" onclick="setRate(20, 'HL')" />
                            <img id="starHL2" name="avaliacao.Dados.NotaHigieneLimpeza" src="/img/blank-star.png" onclick="setRate(40, 'HL')" />
                            <img id="starHL3" name="avaliacao.Dados.NotaHigieneLimpeza" src="/img/blank-star.png" onclick="setRate(60, 'HL')" />
                            <img id="starHL4" name="avaliacao.Dados.NotaHigieneLimpeza" src="/img/blank-star.png" onclick="setRate(80, 'HL')" />
                            <img id="starHL5" name="avaliacao.Dados.NotaHigieneLimpeza" src="/img/blank-star.png" onclick="setRate(100, 'HL')" />
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p style="padding-left: 15px;">
                            <strong>Atendimento</strong>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <p>
                            <img id="starAT1" name="avaliacao.Dados.NotaAtendimento" src="/img/blank-star.png" onclick="setRate(20, 'AT')" />
                            <img id="starAT2" name="avaliacao.Dados.NotaAtendimento" src="/img/blank-star.png" onclick="setRate(40, 'AT')" />
                            <img id="starAT3" name="avaliacao.Dados.NotaAtendimento" src="/img/blank-star.png" onclick="setRate(60, 'AT')" />
                            <img id="starAT4" name="avaliacao.Dados.NotaAtendimento" src="/img/blank-star.png" onclick="setRate(80, 'AT')" />
                            <img id="starAT5" name="avaliacao.Dados.NotaAtendimento" src="/img/blank-star.png" onclick="setRate(100, 'AT')" />
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p style="padding-left: 15px;">
                            <strong>Estrutura</strong>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <p>
                            <img id="starES1" name="avaliacao.Dados.NotaEstrutura" src="/img/blank-star.png" onclick="setRate(20, 'ES')" />
                            <img id="starES2" name="avaliacao.Dados.NotaEstrutura" src="/img/blank-star.png" onclick="setRate(40, 'ES')" />
                            <img id="starES3" name="avaliacao.Dados.NotaEstrutura" src="/img/blank-star.png" onclick="setRate(60, 'ES')" />
                            <img id="starES4" name="avaliacao.Dados.NotaEstrutura" src="/img/blank-star.png" onclick="setRate(80, 'ES')" />
                            <img id="starES5" name="avaliacao.Dados.NotaEstrutura" src="/img/blank-star.png" onclick="setRate(100, 'ES')" />
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p style="padding-left: 15px;">
                            <strong>Opinião geral</strong>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <p>
                            <img id="starOG1" name="avaliacao.Dados.NotaRecomenda" src="/img/blank-star.png" onclick="setRate(20, 'OG')" />
                            <img id="starOG2" name="avaliacao.Dados.NotaRecomenda" src="/img/blank-star.png" onclick="setRate(40, 'OG')" />
                            <img id="starOG3" name="avaliacao.Dados.NotaRecomenda" src="/img/blank-star.png" onclick="setRate(60, 'OG')" />
                            <img id="starOG4" name="avaliacao.Dados.NotaRecomenda" src="/img/blank-star.png" onclick="setRate(80, 'OG')" />
                            <img id="starOG5" name="avaliacao.Dados.NotaRecomenda" src="/img/blank-star.png" onclick="setRate(100, 'OG')" />
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <p></p>
            <div>
                <div class="input-group">
                    <span class="input-group-addon" id="com"><span class="glyphicon glyphicon-align-justify"></span></span>
                    <textarea id="avaliacao.Dados.Descricao" class="form-control" placeholder="Comentário" rows="3"></textarea>
                </div>
                <p></p>
                <div class="input-group" ng-show="!avaliacao.Dados.Anonimo">
                    <span class="input-group-addon" id="nome"><span class="glyphicon glyphicon-user"></span></span>
                    <input id="avaliacao.Dados.Name" type="text" class="form-control" placeholder="Nome" aria-describedby="nome">
                </div>
                <input type="checkbox" id="avaliacao.Dados.Anonimo"><span> Comentário anônimo (seu nome não será divulgado).</span>
                <p></p>
                <div class="input-group">
                    <span class="input-group-addon" id="email"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input id="avaliacao.Dados.Email" type="text" class="form-control" placeholder="Email" aria-describedby="email">
                </div>
                <span style="color: red;">*Seu email não será divulgado.</span>
                <p></p>
                <input type="hidden" id="unidadeId" value="@Model.Id" />
                <input type="hidden" id="AT" />
                <input type="hidden" id="HL" />
                <input type="hidden" id="ES" />
                <input type="hidden" id="OG" />
                <button type="button" id="sendData" class="btn btn-success">Enviar opinião</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" charset="UTF-8">
    $('#sendData').click(function() {

        var notaAtendimento = document.getElementById('AT').value;
        var notaRecomenda = document.getElementById('OG').value;
        var notaHigieneLimpeza = document.getElementById('HL').value;
        var notaEstrutura = document.getElementById('ES').value;

        var anonimo = document.getElementById('avaliacao.Dados.Anonimo').value;
        var descricao = document.getElementById('avaliacao.Dados.Descricao').value;
        var name  = document.getElementById('avaliacao.Dados.Name').value;
        var unidadeId =  document.getElementById('unidadeId').value;
        var email = document.getElementById('avaliacao.Dados.Email').value;
        var data = null;

        if (email.length <= 0){
            alert("Ops! Insira seu email.");
            return;
        }
        if (email.indexOf('.') < 1){
            alert("Xii! Esse email que você inseriu não existe!");
            return;
        }
        if(anonimo){
            if (name.length <= 0){
                alert("Ops! Diga-nos qual é o seu nome.");
                return;
            }
        }
        if (descricao.length <= 0){
            alert("Ops! Insira um comentário. Conte pra gente sua experiência.");
            return;
        }

        avaliacao = { email, descricao, notaRecomenda, notaAtendimento, notaHigieneLimpeza, notaEstrutura, data, anonimo};
        var obj = { avaliacao, unidadeId };
        var jsonData =  JSON.stringify(obj, null, 2);

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: 'http://localhost:8090/api/Saude/SetAvaliacaoByUnidadeId',
            data: jsonData,
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            },
            dataType: "json",
            success: function(data) {
                var form = document.getElementById("avaliacao");
                form.style.display = "none";
                var result = document.getElementById("resultado");
                result.style.display = "block";
            }
        })
    });


    function setRate(valor, tipo){
        var element = "star" + tipo;
        if (valor == 20) {
            var image1 = document.getElementById(element+1);
            image1.src = "/img/star.png";
            var image2 = document.getElementById(element+2);
            image2.src = "/img/blank-star.png";
            var image3 = document.getElementById(element+3);
            image3.src = "/img/blank-star.png";
            var image4 = document.getElementById(element+4);
            image4.src = "/img/blank-star.png";
            var image5 = document.getElementById(element+5);
            image5.src = "/img/blank-star.png";
        }

        if (valor == 40) {
            var image1 = document.getElementById(element+1);
            image1.src = "/img/star.png";
            var image2 = document.getElementById(element+2);
            image2.src = "/img/star.png";
            var image3 = document.getElementById(element+3);
            image3.src = "/img/blank-star.png";
            var image4 = document.getElementById(element+4);
            image4.src = "/img/blank-star.png";
            var image5 = document.getElementById(element+5);
            image5.src = "/img/blank-star.png";
        }

        if (valor == 60) {
            var image1 = document.getElementById(element+1);
            image1.src = "/img/star.png";
            var image2 = document.getElementById(element+2);
            image2.src = "/img/star.png";
            var image3 = document.getElementById(element+3);
            image3.src = "/img/star.png";
            var image4 = document.getElementById(element+4);
            image4.src = "/img/blank-star.png";
            var image5 = document.getElementById(element+5);
            image5.src = "/img/blank-star.png";
        }

        if (valor == 80) {
            var image1 = document.getElementById(element+1);
            image1.src = "/img/star.png";
            var image2 = document.getElementById(element+2);
            image2.src = "/img/star.png";
            var image3 = document.getElementById(element+3);
            image3.src = "/img/star.png";
            var image4 = document.getElementById(element+4);
            image4.src = "/img/star.png";
            var image5 = document.getElementById(element+5);
            image5.src = "/img/blank-star.png";
        }

        if (valor == 100) {
            var image1 = document.getElementById(element+1);
            image1.src = "/img/star.png";
            var image2 = document.getElementById(element+2);
            image2.src = "/img/star.png";
            var image3 = document.getElementById(element+3);
            image3.src = "/img/star.png";
            var image4 = document.getElementById(element+4);
            image4.src = "/img/star.png";
            var image5 = document.getElementById(element+5);
            image5.src = "/img/star.png";
        }

        var elemento = document.getElementById(tipo);
        elemento.value = valor;

    }
</script>