﻿@{
    Layout = "~/Views/Shared/_LayoutSimples.cshtml";
}

<div class="container space-top">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h2>Entre em contato!</h2>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">

                                    @if (ViewBag.Enviado == null || !ViewBag.Enviado)
                                    {
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 style="text-align: center;">Envie-nos sua mensagem</h3>
                                            </div>
                                            <div class="panel-body">
                                                <form action="/Saude/FaleConosco" method="post">
                                                    <p></p>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="nomeContato"><span class="glyphicon glyphicon-user"></span></span>
                                                        <input name="contactName" type="text" class="form-control" placeholder="Nome para contato" aria-describedby="nomeContato">
                                                    </div>
                                                    <p></p>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="email"><span class="glyphicon glyphicon-envelope"></span></span>
                                                        <input name="email" type="text" class="form-control" placeholder="Email" aria-describedby="email">
                                                    </div>
                                                    <p></p>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="telefone"><span class="glyphicon glyphicon-earphone"></span></span>
                                                        <input name="telefone" type="text" class="form-control" placeholder="Telefone" aria-describedby="telefone">
                                                    </div>
                                                    <p></p>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="com"><span class="glyphicon glyphicon-align-justify"></span></span>
                                                        <textarea name="Descricao" class="form-control" placeholder="Comentário" rows="3" id="Descricao"></textarea>
                                                    </div>
                                                    <p></p>
                                                    <button type="submit" class="btn btn-success" style="font-size: 20px; margin-top: 10px; margin-bottom: 20px; height:50px; width: 100% !important">Enviar mensagem</button>
                                                </form>
                                            </div>
                                        </div>
                                    }

                                    @if (ViewBag.Enviado != null && ViewBag.Enviado)
                                    {
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 style="text-align: center;">Obrigado!</h3>
                                            </div>
                                            <div class="panel-body">
                                                <h5>
                                                    Sua mensagem foi enviada com sucesso.
                                                    Em breve entraremos em contato!
                                                </h5>

                                                <a href="/" class="btn btn-success">Início</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <h4>Nós do SaudeAdvisor adoramos opiniões, sugestões e reclamações. Não é a toa
                                            que criamos esse portal. Também gostamos de ideias, parcerias e histórias. Portanto
                                            não deixe de enviar sua mensagem!</h4>
                                        </div>
                                    </div>
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <h4>Deseja cadastrar seu centro médico?</h4>
                                            <a href="/Saude/Contato" class="btn btn-success">Cadastre seu Centro Médico</a>
                                        </div>
                                    </div>
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <h4>Se preferir, envie-nos um email:</h4>
                                            <p>atendimento@saudeadvisor.com</p>
                                        </div>
                                    </div>
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <h4>Ah! E também estamos nas redes sociais:</h4>
                                            <a href="https://www.facebook.com/saudeadvisor" target="_blank"><img src="/img/facebook.png" alt="Facebook" title="Facebook" /></a>
                                            <a href="https://twitter.com/saudeadvisor" target="_blank"><img src="/img/twitter.png" alt="Twitter" title="Twitter" /></a>
                                            <a href="https://plus.google.com/+Saudeadvisor2015" rel="publisher" target="_blank"><img src="/img/plus.png" alt="Plus" title="Plus" /></a>
                                            <a href="http://instagram.com/saudeadvisor/" target="_blank"><img src="/img/instagram.png" alt="Instagram" title="Instagram" /></a>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>