﻿@{
    @model List<BuscaSaude.Engine.Model.Map.Municipio>
}

<div class="jumbotron bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1><img class="bottom" src="/img/logo60.png" alt="SaudeAdvisor" />SaudeAdvisor</h1>
                <br/>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <form action="/Saude/Unidades">
                    <div class="input-group">
                        <input type="text" name="pesquisa" id="pesquisa" class="form-control" aria-describedby="label" style="font-size: 20px; height: 50px; width: 100% !important">
                        <span class="input-group-addon" id="label" style="font-size: 24px;"><button type="submit" style="padding: 0; margin: 0; border: none; background-color: #eee; width: 40px;"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>
                <h2 class="center">Consulte clínicas, consultórios, hospitais e laboratórios gratuitamente</h2>
         
            </div>
            <div class="col-sm-1"></div>
        </div>     
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <h3 class="espaco">
                    Mais de <em class="splash-text"> 140.000 </em> centros médicos em todo o Brasil, com informações, avaliações e experiências de pacientes e familiares.
                </h3>
            </div>                    
            <div class="col-sm-5">
                <div class="social">
                    <h4>Siga-nos</h4>
                    <a href="https://www.facebook.com/saudeadvisor" target="_blank"><img src="/img/facebook.png" alt="Facebook" title="Facebook" /></a>
                    <a href="https://twitter.com/saudeadvisor" target="_blank"><img src="/img/twitter.png" alt="Twitter" title="Twitter" /></a>
                    <a href="https://plus.google.com/+Saudeadvisor2015" rel="publisher" target="_blank"><img src="/img/plus.png" alt="Plus" title="Plus" /></a>
                    <a href="https://instagram.com/saudeadvisor/" target="_blank"><img src="/img/instagram.png" alt="Instagram" title="Instagram" /></a>
                </div>
             </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row espaco">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h2>
                            Profissionais de saúde, centros médicos, laboratórios e clínicas:
                        </h2><h3> Cadastrem-se <strong>gratuitamente</strong>
                            e permitam que mais pacientes sejam atendidos em sua unidade de saúde.
                        </h3>
                        <br/>
                        <a type="button" class="btn btn-success" href="/Saude/Contato/">Cadastro grátis</a>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>