﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container space-top">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-info">
                <div class="panel-body">
                    <h3>Política de Privacidade do portal SaudeAdvisor</h3>
                    <p></p>
                    <h4>Consulta e avaliações</h4>
                    <p>Qualquer pessoa pode utilizar nossos serviços de consulta de centros médicos gratuitamente. Coletamos informações 
                    quando uma avaliação sobre um centro médico é enviado. Armazenamos dados cadastrais como nome e e-email para evitarmos duplicidade de avaliações e ações fraudulentas.
                    Também coletamos a opinião informada, que é utilizada em nosso algoritmo para calcular a qualidade de um centro médico.</p>
                    <p></p>
                    <h4>Informações do centro médico</h4>
                    <p>Coletamos todos os dados dos centros médicos através do "Cadastro Nacional de Estabelecimentos de Saúde", 
                    disponível em (http://cnes.datasus.gov.br/). O portal apresenta informações sobre todos os 
                    estabelecimentos de saúde do Brasil, de acordo com a lei de acesso à informação do Governo Federal (Lei nº 12.527/2011).</p>
                    <p>Mais sobre esta lei pode ser obtido no site do Governo Federal: 
                    <a target="_blank" href="https://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12527.htm" alt="Lei de aceso a informacao">Lei 12.527/2011</a></p>
                    <p>Também armazenamos opiniões e avaliações de usuários sobre o centro médico. Em qualquer momento, as opiniões podem ser avaliadas pelo portal
                    havendo solicitação da unidade de saúde. </p>
                    <p>Lembramos que os comentários não  representam a opinião do portal, sendo a responsabilidade do autor
                    da mensagem.</p>
                </div>
            </div>
        </div>  
        <div class="col-sm-2"></div>   
    </div>
</div>