﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model List<BuscaSaude.Engine.Model.Unidade>
}

<div class="container  space-top">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <form action="/Saude/Unidades">
                        <div class="input-group">
                            <input type="text" name="pesquisa" id="pesquisa" class="form-control" aria-describedby="label" style="font-size: 20px; height: 50px; width: 100% !important">
                            <span class="input-group-addon" id="label" style="font-size: 24px;"><button type="submit" style="padding: 0; margin: 0; border: none; background-color: #eee; width: 40px;"><span class="glyphicon glyphicon-search"></span></button></span>
                        </div>
                    </form>
                    <br />
                </div>
                <div class="col-md-12">                    
                    <div class="row">
                      
                        @if(Model != null && Model.Count > 0)
                        { 

                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">                                           
                                    <span><b>@Model.Count principais registros encontrados...</b></span>                                            
                                </div>
                                <div>
                                    @for (int i = 0; i < @Model.Count; i++)
                                    {
                                        if (i%2 == 0)
                                        {
                                            ViewBag.Color = "#fbfbfb";
                                        }
                                        else
                                        {
                                            ViewBag.Color = "#fff";
                                        }

                                        <div class="card-list" style="background-color: @ViewBag.Color">
                                            <a href="/Saude/Unidade?pesquisa=@Model[i].Id"><strong>@Model[i].Name</strong></a><br/>
                                            @Model[i].Endereco.Logradouro, @Model[i].Endereco.Numero<br/>

                                            <a href="/Saude/Cidade?pesquisa=@Model[i].Endereco.Cidade.Name">@Model[i].Endereco.Cidade.Name</a> - @Model[i].Endereco.Cidade.Estado.UF

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-body">
                                    <div id="map" style="width: 100%; height: 600px; background: grey" />
                                </div>
                            </div>
                        </div>

                        }
                        else
                        {
                            <div class="col-md-12">
                                <h4>@ViewBag.Pesquisa</h4>
                            </div>
                        }
                    </div>              
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css"
      href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
<script type="text/javascript" charset="UTF-8"
        src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" charset="UTF-8"
        src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" charset="UTF-8"
        src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" charset="UTF-8"
        src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script type="text/javascript" charset="UTF-8">
        function addMarkerToGroup(group, coordinate, html) {
            var marker = new H.map.Marker(coordinate);
            marker.setData(html);
            group.addObject(marker);
        }

        function addInfoBubble(map) {
            var group = new H.map.Group();
            map.addObject(group);
            group.addEventListener('tap', function (evt) {
                var bubble =  new H.ui.InfoBubble(evt.target.getPosition(), {
                    content: evt.target.getData()
                });
                ui.addBubble(bubble);
            }, false);

            @if (Model.Count > 0) {
                foreach(var unidade in Model)
                {
                    @:addMarkerToGroup(group, { lat: @unidade.Endereco.Location.Coordinates[1].ToString().Replace(",","."), lng: @unidade.Endereco.Location.Coordinates[0].ToString().Replace(",",".")},'<div><a href=\'/Saude/Unidade?pesquisa=@unidade.Id\' >@unidade.Name</a></div>');
                }
            }

        }

        var platform = new H.service.Platform({
            app_id: 'DemoAppId01082013GAL',
            app_code: 'AJKnXv84fjrb0KIHawS0Tg',
            useCIT: true,
            useHTTPS: true
        });

        var defaultLayers = platform.createDefaultLayers();
        var map = new H.Map(document.getElementById('map'),defaultLayers.normal.map,{center: {lat: @Model[0].Endereco.Location.Coordinates[1].ToString().Replace(",", "."),lng:@Model[0].Endereco.Location.Coordinates[0].ToString().Replace(",", ".") },zoom: 14});

        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
        var ui = H.ui.UI.createDefault(map, defaultLayers);
        addInfoBubble(map);
</script>
