﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model BuscaSaude.Engine.Model.Unidade
}
<div class="container  space-top">
<div class="row">
<div class="col-md-12">
<div class="row">
    <div class="col-sm-12">
        <form action="/Saude/Unidades">
            <div class="input-group">
                <input type="text" name="pesquisa" id="pesquisa" class="form-control" aria-describedby="label" style="font-size: 20px; height: 50px; width: 100% !important">
                <span class="input-group-addon" id="label" style="font-size: 24px;"><button type="submit" style="padding: 0; margin: 0; border: none; background-color: #eee; width: 40px;"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </form>
        <br />
    </div>
<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>@Model.Name</h2>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Estatísticas do centro médico</h4>
                    </div>
                    <div class="panel-body">
                        <div ng-show="pontuacao">
                            <span><strong>Infraestrutura</strong></span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@ViewBag.pontuacao.Infraestrutura" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.pontuacao.Infraestrutura%;">
                                    @ViewBag.pontuacao.Infraestrutura %
                                </div>
                            </div>
                            <span><strong>Atendimento</strong></span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@ViewBag.pontuacao.Atendimento" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.pontuacao.Atendimento%;">
                                    @ViewBag.pontuacao.Atendimento %
                                </div>
                            </div>
                            <span><strong>Limpeza / Higiene</strong></span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@ViewBag.pontuacao.LimpezaHigiene" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.pontuacao.LimpezaHigiene%;">
                                    @ViewBag.pontuacao.LimpezaHigiene %
                                </div>
                            </div>
                            <span><strong>Recomendações</strong></span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@ViewBag.pontuacao.Recomendacoes" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.pontuacao.Recomendacoes%;">
                                    @ViewBag.pontuacao.Recomendacoes %
                                </div>
                            </div>
                            <hr />
                            <div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <strong>Índice de satisfação:</strong>
                                    </div>
                                    <div class="col-sm-3"><span style="text-align: center; font-size: 28px; font-weight: bold;">@ViewBag.pontuacao.PontuacaoMedia%</span></div>
                                    <div class="col-sm-3">
                                        <strong>Avaliação média:</strong>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>
                                            @if (@ViewBag.pontuacao.PontuacaoMedia < 20)
                                            {
                                                <img src="/img/blank-star.png" />
                                            }
                                            @if (@ViewBag.pontuacao.PontuacaoMedia >= 20)
                                            {
                                                <img src="/img/star.png" />
                                            }
                                            @if (@ViewBag.pontuacao.PontuacaoMedia >= 40)
                                            {
                                                <img src="/img/star.png" />
                                            }
                                            @if (@ViewBag.pontuacao.PontuacaoMedia >= 60)
                                            {
                                                <img src="/img/star.png" />
                                            }
                                            @if (@ViewBag.pontuacao.PontuacaoMedia >= 80)
                                            {
                                                <img src="/img/star.png" />
                                            }
                                            @if (@ViewBag.pontuacao.PontuacaoMedia >= 100)
                                            {
                                                <img src="/img/star.png" />
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4>Comentários e avaliações</h4>
                    </div>
                    <div class="panel-body" style="height: 320px; overflow: scroll; overflow-x: hidden;">
                        @foreach (var c in @Model.Avaliacoes)
                        {
                            <div style="padding: 10px;">
                                @if (c.NotaRecomenda > 50)
                {
                                    <img src="/img/green-hand.png" />
                                }
                                @if (c.NotaRecomenda <= 50)
                {
                                    <img src="/img/red-hand.png" />
                                }
                                <span style="margin-left: 20px;">@c.Descricao</span>
                                <p></p>

                                <p>
                                    @if (!c.Anonimo)
                                    {
                                        <strong>@c.Name </strong>
                                        <span>em </span><strong>@c.Data</strong>
                                    }
                                    @if (c.Anonimo)
                                    {
                                        <strong>Anônimo </strong>
                                        <span>em </span><strong>@c.Data</strong>
                                    }
                                </p>

                                <hr />
                            </div>
                        }
                        @if (Model.Avaliacoes.Count == 0)
                        {
                            <h3>Nenhuma recomendação</h3>
                        }
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4>Informações gerais</h4>
                    </div>
                    <div class="panel-body">
                        @if (Model.Especialidades != null && Model.Especialidades.Count > 0)
                        {
                            <strong>Especialidades</strong><br />
                            foreach (var especialidade in Model.Especialidades)
                            {
                                <p>@especialidade</p>
                            }                            
                        }

                        @if (Model.Telefones != null && Model.Telefones.Count > 0 && Model.Telefones[0].DDD.Length > 0)
                        {
                            <strong>Telefones</strong><br />
                            <p><span class="glyphicon glyphicon-earphone"></span>(@Model.Telefones[0].DDD) @Model.Telefones[0].Numero</p>
                        }
                        <p>
                            <strong>Endereço</strong><br />@Model.Endereco.Logradouro, @Model.Endereco.Numero - @Model.Endereco.Bairro<br />
                            CEP: @Model.Endereco.CEP<br />
                            @Model.Endereco.Cidade.Name - @Model.Endereco.Cidade.Estado.UF
                        </p>
                        <div>
                            <div id="map" style="width: 100%; height: 300px; background: grey" />
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
</div>
</div>
</div>


<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script type="text/javascript" charset="UTF-8">
    function addMarkersToMap(map) {
        var unidadeMarker = new H.map.Marker({lat:@ViewBag.CoordX, lng:@ViewBag.CoordY});
        map.addObject(unidadeMarker);
    }

    var platform = new H.service.Platform({
      app_id: 'DemoAppId01082013GAL',
      app_code: 'AJKnXv84fjrb0KIHawS0Tg',
      useCIT: true,
      useHTTPS: true
    });
    var defaultLayers = platform.createDefaultLayers();
    var map = new H.Map(document.getElementById('map'),
      defaultLayers.normal.map,{
          center: {lat:@ViewBag.CoordX, lng:@ViewBag.CoordY},
      zoom: 16
    });

    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
    var ui = H.ui.UI.createDefault(map, defaultLayers);
    addMarkersToMap(map);
</script>