﻿<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="dicas de hospitais, encontre, dicas de clinicas, dicas de laboratorios, mapa, bom atendimento, avaliacoes, opinioes, postos de saude">
    <meta name="description" content="Encontre bom atendimento, informações, avaliações e comentários sobre hospitais, clínicas, laboratórios e postos de saúde no Brasil">
    <meta name="title" content="Saúde Advisor">
    <meta property="og:title" content="Saúde Advisor">
    <title>Saúde Advisor - Hospitais, clínicas, postos de saúde e laboratórios</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link async href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
    <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link async rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div itemscope itemtype="http://schema.org/Organization">
        <img itemprop="logo" src="/img/logo40.png" alt="Saude Advisor" />
        <span itemprop="legalName">Saude Advisor</span>
        <span itemprop="founder">Ricardo Vano</span>
    </div>

    <div>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><span class="small">SaudeAdvisor</span></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <p></p>
                </div>
            </div>
        </nav>

        @RenderBody()

        <div class="col-sm-12">
            <footer>
                <p>© Saúde Advisor 2016</p>
                <p>
                    Aqui você encontra informações de qualidade sobre centros médicos em todo o Brasil. <br />
                    Nosso objetivo é ajudar pessoas a encontrar bons hospitais, clínicas e laboratórios para ser bem atendido,
                    economizar tempo e ter seu problema de saúde resolvido. <br />
                    As informações disponíveis no site são coletadas através do Ministério da Saúde e de depoimentos de
                    pacientes e familiares que em algum momento precisaram de atendimento médico.
                </p>
                <p>Entre em contato: atendimento@saudeadvisor.com</p>
            </footer>
        </div>
    </div>
</body>
</html>