﻿@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    @model BuscaSaude.Engine.Model.Painel.Usuario
}

<script type="text/javascript">
    function verifyPass(){
        if (document.getElementById('passwordCheck').value == document.getElementById('passwordCheckRetype').value && document.getElementById('passwordCheck').value.length > 0)
        {
            document.getElementById('alert').style.display = 'none';
            document.forms["registerForm"].submit();
        }
        else
        {
            document.getElementById('alert').style.display = 'block';
        }
    }
</script>

<div class="container space-top">
    <div class="row">
        <div class="col-sm-2" ></div>
        <div class="col-sm-4" >
            <div class="panel panel-warning" style="height:400px;">
                <div class="panel-heading">
                    <h3>Já possuo cadastro</h3>
                </div>
                <div class="panel-body">
                    <form action="/Painel/Login" method="post">
                        <p></p>
                        <div class="input-group">
                            <span class="input-group-addon" id="userName"><span class="glyphicon glyphicon-user"></span></span>
                            <input name="userName" type="text" class="form-control" placeholder="E-mail" aria-describedby="userName">
                        </div>
                        <p></p>
                        <div class="input-group">
                            <span class="input-group-addon" id="password"><span class="glyphicon glyphicon-asterisk"></span></span>
                            <input name="password" type="password" class="form-control" placeholder="Senha" aria-describedby="password">
                        </div>
                        <p></p>
                        <button type="submit" class="btn btn-success" style="font-size: 20px; margin-top: 10px; margin-bottom: 20px; height:50px; width: 100% !important">Entrar</button>
                    </form>                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success"  style="height:400px;">
                <div class="panel-heading">
                    <h3>Sou novo por aqui</h3>
                </div>
                <div class="panel-body">
                    <form id="registerForm" action="/Painel/Cadastro" method="post">
                        <p></p>
                        <div class="input-group">
                            <span class="input-group-addon" id="userName"><span class="glyphicon glyphicon-user"></span></span>
                            <input name="userName" type="text" class="form-control" placeholder="E-mail" aria-describedby="userName">
                        </div>
                        <p></p>
                        <div class="input-group">
                            <span class="input-group-addon" id="password"><span class="glyphicon glyphicon-asterisk"></span></span>
                            <input id="passwordCheck" name="password" type="password" class="form-control" placeholder="Senha" aria-describedby="password">
                        </div>
                        <p></p>
                        <div class="input-group">
                            <span class="input-group-addon" id="passwordRetype"><span class="glyphicon glyphicon-asterisk"></span></span>
                            <input id="passwordCheckRetype" name="passwordRetype" type="password" class="form-control" placeholder="Repetir a senha" aria-describedby="passwordRetype">
                        </div>
                        <p></p>

                        <button id="register" onclick="verifyPass()" class="btn btn-success" style="font-size: 20px; margin-top: 10px; margin-bottom: 20px; height:50px; width: 100% !important">Cadastrar</button>
                        <div id="alert" class="alert alert-danger" role="alert" style="display:none">
                            <span class="glyphicon glyphicon-remove-circle"> </span> <strong>Usuário ou senha inválidos!</strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @if(HttpContext.Current.Request.QueryString["StatusAtual"] == "SenhaInvalida")
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-remove-circle"> </span> <strong>Usuário ou senha inválidos!</strong>
                </div>
            }
        </div>
    </div>
</div>
    