﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model BuscaSaude.Engine.Model.Painel.Usuario
}

<div class="container space-top">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3>Painel do usuário</h3>
                </div>
                <div class="panel-body">
                    <p>Consultas</p>
                    <p>Agenda</p>
                    <p>Exames</p>
                    <p>Opiniões</p>
                    <p>Últimas pesquisas</p>
                </div>
            </div>
        </div>
    </div>
</div>